@import "tailwindcss";

@theme {
  --color-primary: #2196F3;
  --color-primary-dark: #1976D2;
  --color-primary-light: #64B5F6;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 font-sans;
  }
}
